name: kavanest-client

namespace: kavanest
env:
  APP_VERSION: cf1daa03c9233708c82f3343089ef4befb6b49d9

deployment:
  - name: kavanest-client
    image: invisibug/kavanest-client
    ports:
    - port: 80
    # env:
      # Handled in Dockerfile.live

ingress:
  - name: client.kavanet.io
    selector: kavanest-client
    path: /.*
    port: 80
    host: client.kavanet.io

  - name: a.kavanet.io
    selector: kavanest-client
    path: /.*
    port: 80
    host: a.kavanet.io

service:
  loadBalancer:
    - name: kavanest-client
      selector: kavanest-client
      port: 80
