/*//////////////////////////////////////////////////////////////////////
//
//     #                           
//    # #   #    # #####  #  ####  
//   #   #  #    # #    # # #    # 
//  #     # #    # #    # # #    # 
//  ####### #    # #    # # #    # 
//  #     # #    # #    # # #    # 
//  #     #  ####  #####  #  #### 
//
///////////////////////////////////////////////////////////////////////*/

.computerAudioTitle {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 8%;
  left: 50%;
}

.computerAudioLeftSpeakerContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 75%;
  top: 35.5%;
  left: 50%;
}

.computerAudioRightSpeakerContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 75%;
  top: 48.5%;
  left: 50%;
}

.computerAudioSubContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 75%;
  top: 90%;
  left: 50%;
}

.computerAudioMixerContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 75%;
  top: 100%;
  left: 50%;
}
